:root {
  --backgroundPrimary: rgba(39, 65, 83, 0.9);
  --backgroundSecondary: rgba(39, 65, 83, 1);
  --backgroundThird: #0c2335;
  --backgroundOfwhite: whitesmoke;
  --backgroundWhite: #fff;
  --textPrimary: #ffc107;
  --textWhite: #fff;
  --buttonPrimary: #ffc207;
}

body {
  min-width: 350px;
  overflow: overlay;
  scroll-behavior: smooth;
  background: var(--backgroundSecondary);
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.dropdown-menu a:hover {
  background-color: rgba(39, 65, 83, 1);
}

#event {
  display: none;
}

tr {
  border-bottom: 1px solid var(--backgroundPrimary);
}

#navclose {
  /* display: none; */
  padding: 10px 0;
  justify-content: end;
  font-size: 20px;
}

nav ul img {
  width: 15px !important;
}

.smallmenu {
  display: block !important;
  width: 25% !important;
  position: fixed;
  top: 0;
  z-index: 20;
  transition: all 0.3s ease-in;
  height: 100vh;
}

.show {
  display: block !important;
}

table .col {
  color: var(--textWhite);
}

#nav_overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0, 0.5);
}

#popup_overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0, 0.5);
}

#navmenu {
  display: none;
}

#navbars {
  cursor: pointer;
}

#navclose {
  display: flex;
  cursor: pointer;
}

#footer {
  justify-content: space-around;
  background: var(--backgroundThird);
  padding: 40px 20px;
  border-radius: 6px;
}

#footer a {
  padding: 10px 10px;
}

#footer a:hover {
  background: var(--backgroundPrimary);
}

#footerdropdown a:hover {
  background: var(--backgroundThird);
}

#mobile_nav {
  display: none;
}

#mobile_nav img {
  width: 30px;
}

#popup {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  max-width: 600px;
  max-height: 350px;
  border-radius: 8px;
  z-index: 120;
  display: none;
}

@media (max-width: 1200px) {
  #body {
    flex-direction: column;
    gap: 30px;
  }
  #midbody {
    width: 100%;
  }
  #lastbody {
    width: 100%;
  }
  #navbars {
    display: block;
  }
  .smallmenu {
    width: 35% !important;
  }
  #body {
    gap: 3;
  }
  #footer {
    justify-content: space-between;
  }
}

@media (max-width: 979px) {
  #footerend {
    flex-direction: column;
  }
  #footerend .col-7 {
    width: 100%;
  }
  #footerend .col-3 {
    width: 100%;
    justify-content: center;
    padding: 0 30px;
  }
  #balance {
    flex-direction: column;
  }
  #balance .col-2 {
    width: 100%;
  }
  #balance .col-10 {
    width: 100%;
  }
}

@media (max-width: 878px) {
  #body {
    flex-direction: column;
  }
  #midbody {
    width: 100%;
  }
  #lastbody {
    width: 100%;
  }
  .smallmenu {
    width: 45% !important;
  }
  #footer {
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  #mobile_nav {
    display: block;
  }
  #balance button img {
    display: none;
  }
  #balance {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #popup {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    max-width: 600px;
    max-height: 350px;
    border-radius: 8px;
    z-index: 120;
    display: none;
  }
}

.carousel-item {
  min-height: 250px;
}

.carousel-item img {
  min-height: 300px;
  object-fit: cover;
}
